.custom_sidebar {position: fixed;   height: 100%;   width: 300px;   background: #34495e;   top: 0;   right: -325px;   z-index: 999;   box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);   transition: right 0.3s ease-in-out;}
.custom_sidebar.show {right:0;}
.Custsidebar_con {   padding: 20px; }

.Custsidebar_con button {display: block;   padding: 14px 28px;   font-size: 18px;   font-weight: bold;   text-transform: uppercase;   color: #fff;   background: linear-gradient(45deg, #ff416c, #ff4b2b);   border: none;   border-radius: 8px;   cursor: pointer;   box-shadow: 0 4px 15px rgba(255, 65, 108, 0.5);   transition: all 0.3s ease-in-out;   outline: none;   position: relative;   overflow: hidden;   width: 100%;   margin: 10px 0 0;}
.Custsidebar_con button:hover {transform:translateY(-2px); box-shadow:0 6px 20px rgba(255, 75, 43, 0.6);}
.Custsidebar_con button:active {transform:translateY(1px); box-shadow:0 2px 10px rgba(255, 75, 43, 0.5);}

.permalink_btn {padding:10px; border:1px solid #fff; border-radius:10px;}
.permalink_btn button {margin:0;}

.validationBtn {padding: 10px;   border: 1px solid #fff;   border-radius: 10px;   margin: 20px 0;}
.validationBtn button.html_btn {background:linear-gradient(45deg, #4a90e2, #1c638f); box-shadow:0 4px 15px rgba(74, 144, 226, 0.5);margin-top: 0;}
.validationBtn button.html_btn:hover {background:linear-gradient(45deg, #5faee3, #2d7ea3); box-shadow:0 6px 20px rgba(74, 144, 226, 0.7);}

.validationBtn button.css_btn {background: linear-gradient(45deg, #5f6a76, #f39c12);box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);}
.validationBtn button.css_btn:hover {background:linear-gradient(45deg, #f39c12, #e74c3c); box-shadow:0 6px 20px rgba(0, 0, 0, 0.5);}
